{% extends 'base.html' %}
{% block title %}
Welcome
{% endblock title %}

{% block body %}
<h1><center>Menu</center></h1>

<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Food Item</th>
    <th></th>
    <th>Price</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
{% for x in mymembers %}
<tr>
<td>{{ x.id }}</td>
<td>{{ x.name }}</td>
<td><img src="https://source.unsplash.com/100x100/?{{ x.name }},food"></td>
<td>{{ x.price }}</td>
<td>{{ x.quantity }}</td>
<td><button type="button" class="btn btn-danger"><a href="delete/{{ x.id }}" style="color:white">Delete</a></button></td>
<td><button type="button" class="btn btn-success"><a href="update/{{ x.id }}" style="color:white">Update</a></button></td>
</tr>
{% endfor %}
</table>


{% endblock body %}